html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:#212526;
	height:100%;
}
body {
	height:98%;
}

#content {
	position:relative;
	width:90%;
	margin:auto;
	height:100%;
}
#results {
	overflow:auto;
	position:absolute;
	top:0;
	right:0;
	width:70%;
	background-color:#F1F1EB;
	height:98%;
	padding:0.5em;
}
#search {
	width:25%;
	background-color:#F1F1EB;
	height:98%;
	padding:0.5em;
}
.testPlan {
	position:relative;
	margin:4px;
	background-color:#888;
	padding:0.5em;
}
.testCase {
	position:relative;
	margin:4px;
	background-color:#666;
	padding:0.5em;
}

.date {
	width:4em;
}

.time {
	position:absolute;
	right:0.5em;
	top:0.5em;
}

#loadmore {
	background-color:#555;
	padding-top:0.5em;
	padding-bottom:0.5em;
	cursor:pointer;
	text-align:center;
	margin:4px;
}

#loadmore:hover {
	background-color:#444;
}

#loadmore:active {
	background-color:#383838;
}

h2.Complete {
	color:green;
}
h2.Passed {
	color:green;
}
h2.Progress {
	color:yellow;
}
h2.Failed {
	color:red;
}
